* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pop_up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #4f2ee8;
  z-index: 2;
}

.pop_up.active {
  display: none;
}

.pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.pop_up_body {
  margin: auto;
  width: 579px;
  height: 516px;
  background-color: var(--text-dark);
  border: 2px solid var(--header-bg-color);
  border-radius: 18px;
  text-align: center;
  position: relative;
}

.pop_up_body input {
  width: 499px;
  height: 64px;
  border: 2px solid var(--header-bg-color);
  padding: 20px 173px 20px 40px;
  border-radius: 40px;
  flex-direction: row;
  align-items: center;
  font-family: 'DM Sans';
  color: var(--header-bg-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.form_style {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;
  align-items: center;
}

.form_button_style {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 173px;
  gap: 10px;
  width: 499px;
  height: 64px;
  color: var(--text-dark);
  background: var(--header-bg-color);
  border-radius: 40px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}

.pop_up_close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--header-bg-color);
}

.form_link {
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  left: 213px;
  top: 452px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form_link_sign_up {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--violet-color);
}

.form_link_sign_in {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 0.5);
}

#icon-mail-02 {
  background-image: url(/src/images/sprite.svg#icon-mail-02);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  padding-right: 20px;
}

#icon-lock-02 {
  background-image: url(/src/images/sprite.svg#icon-lock-02);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  padding-right: 20px;
}
