.active {
    color: yellow;
    font-size: xx-large;
}

  
  .categories-list {
    display: block;
    height: 228px;
    overflow: auto;
    width: 335px;
  }
  
  /* scrollbar */
  .categories-list::-webkit-scrollbar {
    width: 8px;
    height: 114px;
  }
  .categories-list::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .categories-list::-webkit-scrollbar-thumb {
    background-color: var(--light-color);
    border-radius: 12px;
  }
  .categories-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-grey);
  }
  
  .categories-item {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02em;
  
    color: var(--text-light);
    cursor: pointer;
    transform: scale(0.97);
    transform-origin: center left;
  }
  
  .categories-item:not(:last-child) {
    margin-bottom: 24px;
  }
  
  .categories-item.active,
  .categories-item:hover,
  .categories-item:focus {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    transform: scale(1);
  
    color: var(--active-category-color);
  }
  
  @media screen and (min-width: 768px) {
    .categories-list {
      width: 337px;
      height: 472px;
    }
  
    .categories-list::-webkit-scrollbar {
      height: 167px;
    }
    .category-item {
      font-size: 18px;
      line-height: 1.33;
    }
  
    .category-item.active,
    .category-item:hover,
    .category-item:focus {
      font-size: 18px;
      line-height: 1.33;
    }
  
    .category-item:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .categories-section {
      padding-bottom: 86px;
    }
    .categories-list {
      width: 356px;
      height: 472px;
    }
  }

  main {
    display: flex;
    flex-direction: row-reverse; 
  }

aside {
  padding-right: 24px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 86px;
}

  // aside,                        ===============================
  // .book-container {
  //   padding-top: 72px;
  // }

  .title-book {
    overflow: hidden;
  }

//   @media screen and (min-width: 1440px) {
// .link-books-render {
//     width: 160px;
//     height: 228px;}}

    @media screen and (max-width: 374.98px) {
        main {
            flex-direction:column-reverse;
        }
    }



    // ==========================================

         @media screen and (min-width: 375px) {
           .categories-section {
            padding-top: 104px;
           }
         }


