  .support {
      display: block;
      position: relative;
      width: 356px;
      height: 490px;
      background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
      border-radius: 16px;
      margin: 0;
  }

  .title-support {
      display: inline-block;
      text-align: center;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 1.14;
      color: var(--header-bg-color);
      padding-left: 40px;
      padding-top: 24px;

  }

  .img-support {
            width: 20px;
                height: 32px;
      position: absolute;
      top: 24px;
      left: 280px;
  }

  .wardrobe-icon-svg {
      width: 38px;
      height: 38px;
      background-color: var(--header-bg-color);
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: row;
  }

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  img {
      max-width: 100%;
  }

  .carousel-container {
      width: 159px;
      height: 259px;
      margin-top: 40px;
      margin-left: 40px;
      position: relative;
  }

  .inner-carousel {
      width: 100%;
      height: 292px;
      gap: 20px;
      overflow: hidden;

  }

  .track {
      display: block;
      width: auto;
      height: 280px;
      counter-reset: item;
      list-style-type: none;
      padding-left: 0;
  }

  .card-container::before {
      content: counter(item, decimal-leading-zero) " ";
      counter-increment: item;
      color: var(--header-bg-color);
      display: flex;
      flex-direction: column;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      align-items: flex-end;
  }

  .card-container {

      display: flex;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28;
      align-items: center;
      width: 159px;
      height: auto;
      gap: 16px;
      width: 120px;
      height: 32px;
      margin-bottom: 20px;
  }

  .card {
      width: 100%;
      height: 100%;
      background-position: center bottom;
      background-size: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      margin-left: 0;
  }

  .nav button {
      position: absolute;
      bottom: -136px;
      left: 119px;
      transform: translatey(-50%);

      border-radius: 50%;
      outline: none;
      border: 1px solid var(--header-bg-color);
      cursor: pointer;
  }

  .nav .next.hide {
      display: none;
  }


  //============/мобільна версія/=====================//
  @media screen and (max-width: 767px) {
      .support {
          width: 335px;
          height: 352px;

      }

      .inner-carousel {
          width: 100%;
          height: 188px;
          gap: 20px;
          overflow: hidden;

      }

      .nav button {
          position: absolute;
          bottom: 3px;
          left: 112px;
          transform: translatey(-50%);
          border-radius: 50%;
          outline: none;
          border: 1px solid var(--header-bg-color);
          cursor: pointer;
      }

  }

  // ===============/планшетна версія/===================
  @media screen and (min-width: 768px) {
      .support {
          width: 335px;
          height: 472px;

      }

      .nav button {
          bottom: -123px;
          left: 112px;

      }
  }

//   // ==============/дисктопна версія/===================
  @media screen and (min-width: 1440px) {
      .support {
          width: 356px;
          height: 490px;

      }

      .nav button {
          bottom: -131px;
          left: 119px;
      }
  }