<div class="button">
  <a href="#" id="open_pop_up"></a>
</div>
<div class="pop_up active" id="pop_up">
  <div class="pop_up_container">
    <div class="pop_up_body" id="pop_up_body">
      <form action="" class="form_style">
        <input type="text" placeholder="NAME" />
        <input type="text" placeholder="EMAIL" id="icon-mail-02"/>
        <input type="text" placeholder="PASSWORD" id="icon-lock-02"/>
        <button class="form_button_style">SIGN UP</button>
        
        <div class="pop_up_close" id="pop_up_close">&#10006
          <!-- <svg class="close-icon" width="12" height="12">
            <use href="/src/images/sprite.svg#icon-x-close"></use>
          </svg> -->
        </div>
      </form>
      <div class="form_link">
           <a href="sign up" class="form_link_sign_up">SIGN UP</a>
           <a href="sign in" class="form_link_sign_in">SIGN IN</a>
        </div>
    </div>
  </div>
</div>
<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>