  <aside class="aside"> 
  <section class="categories-section"> 
 <ul class="categories-list"> 
    <li class="categories-item all-categories active">All categories</li>
</ul>
</section>
<section class="support-ukraine">
    <div class="support">
        <h2 class="title-support">Support-Ukraine</h2>
        <img class="img-support" src="./images/icon/Group.png" alt="" />
        <div class="carousel-container">
            <div class="inner-carousel">
                <ol class="track">
                </ol>
                <div class="nav">
                    <button class="prev">
                        <svg class="wardrobe-icon-svg" wigth="6" height="12">
                            <use class="wardrobe-svg" href="./images/sprite.svg#icon-Vector-3"></use>
                        </svg>
                    </button>
                    <button class="next">
                        <svg class="wardrobe-icon-svg" wigth="6" height="12">
                            <use class="wardrobe-svg" href="./images/sprite.svg#icon-Vector-3"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</aside>